
input{
  text-align: center;
  border: 2px solid #000!important;
}
.container{
  text-align: center;
  margin-bottom:20px;
}

#container{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  font-family: 'Cabin Sketch', cursive;
  color: #1e272e;
  font-size:60px;
  font-weight:600;
}


.jumbotron{
  background-color: #fab1a0;
}

.form-group{
  margin-top: 30px;
}

.btn{
  background-color: #fab1a0!important;
  border: 1px solid #fab1a0!important;
  color: #000!important;
}
.btn:hover{
  background-color: #000!important;
  color: #fff!important;
  border: 1px solid #fab1a0;
  transition: 1s!important;
}

#show{
  font-family: 'Shrikhand', cursive;
  color: #1e272e;
}
